[submodule "RealTimeBasico"]
	path = RealTimeBasico
	url = https://github.com/crgiosk/RealTimeBasico
[submodule "IntroduccionAFirebase"]
	path = IntroduccionAFirebase
	url = https://github.com/crgiosk/IntroduccionAFirebase
[submodule "ChatZonaVE"]
	path = ChatZonaVE
	url = https://github.com/crgiosk/ChatZonaVE
